.app {
  text-align: center;
  padding: 2rem;
  font-family: sans-serif;
}

.coin {
  font-size: 2rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.flip {
  transform: rotateY(720deg);
}